<h3>Post Title: <%= @post.title %> </h1>
<p><strong>Content:</strong> <%= @post.content %> </p>

<div>
  <p> All Comments for <strong><%= @post.title %></strong> </p>
  <% if @post.comments.empty? %>
    <p>There are no comments yet.</p>
  <% else %>
    <% @post.comments.each do |comment| %>
      <p><%= comment.commentary %></p>
      <hr />
      <%# <%= link_to "Reply", new_comment_reply_path(comment) %>
        <ul class="">
          <% comment.comments.each do |reply| %>
            <li>
              <p><strong>USER said:</strong> <%= reply.commentary %></p>
            </li>
          <% end %>
        </ul>
    <% end %>
  <% end %>
</div>

<%= link_to "Add comment", new_post_comment_path(@post) %>
