<h3>Post Title: <%= @post.title %> </h3>
<p><strong>Content:</strong> <%= @post.content %> </p>

<div>
  <p> All Comments for <strong><%= @post.title %></strong> </p>
  <% if @post.comments.empty? %>
    <p>There are no comments yet.</p>
  <% else %>
    <% @post.comments.each_with_index do |comment, index| %>
      <div>
        <p><%= comment.commentary %></p>
        <hr />
        <%= link_to "Reply", new_post_comment_path(@post, parent_comment_id: comment.id) %>
        <ul class="">
          <% comment.comments.each do |reply| %>
            <li>
              <p><strong>USER said:</strong> <%= reply.commentary %></p>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "Add comment", new_post_comment_path(@post) %>
