<h3>Post Title: <%= @post.title %> </h3>
<p><strong>Content:</strong> <%= @post.content %> </p>

<div>
  <p> All Comments for <strong><%= @post.title %></strong> </p>
  <% if @post.comments.empty? %>
    <p>There are no comments yet.</p>
  <% else %>
    <% @post.comments.each_with_index do |comment, index| %>
      <p><%= comment.commentary %></p>
      <hr />
      <% if index == @post.comments.size - 1 %>
        <%= link_to "Reply", new_post_comment_path(@post, parent_comment_id: comment.id) %>
      <% end %>
      <ul class="">
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to "Add comment", new_post_comment_path(@post) %>
